In [1]:
%config SqlMagic.displaycon = False

In [2]:
%load_ext sql

In [3]:
%sql url

In [4]:
%%sql
with t1 as (
    select 
         person_id
        ,sum(visit_end_date - visit_start_date + 1) total_days
    from de.visit_occurrence
    group by person_id
)
select max(total_days)
from t1

1 rows affected.

[(18873,)]

In [5]:
%%sql
with t1 as (
    select 
         person_id
        ,sum(visit_end_date - visit_start_date + 1) total_days
    from de.visit_occurrence
    group by person_id
)
select count(*)
from t1
where total_days = (
    select max(total_days) from t1
)

1 rows affected.

[(1,)]