In [1]:
%config SqlMagic.displaycon = False
%load_ext sql
%sql url

In [2]:
%%sql
WITH t1 AS (
    SELECT 
         person_id
        ,SUM(visit_end_date - visit_start_date + 1) total_days
    FROM de.visit_occurrence
    GROUP BY person_id
)
SELECT MAX(total_days)
FROM t1

1 rows affected.

[(18873,)]

In [3]:
%%sql
WITH t1 AS (
    SELECT 
         person_id
        ,SUM(visit_end_date - visit_start_date + 1) total_days
    FROM de.visit_occurrence
    GROUP BY person_id
)
SELECT count(1)
FROM t1
WHERE total_days = (
    SELECT MAX(total_days) FROM t1
)

1 rows affected.

[(1,)]