In [1]:
%config SqlMagic.displaycon = False
%load_ext sql
%sql url

In [2]:
%%sql
WITH min_max_drug_id AS (
	SELECT
		 de.drug_concept_id
		,min(drug_exposure_start_date) start_date
		,max(drug_exposure_end_date) end_date
	FROM de.drug_exposure de
	WHERE person_id = 1891866
	GROUP BY de.drug_concept_id 
)

SELECT 
	 mmdi.drug_concept_id
	,mmdi.start_date
	,mmdi.end_date
	,ed.total_exposure_days
FROM min_max_drug_id mmdi
LEFT JOIN (
    -- exposure days per drug_concept_id
	SELECT
		 drug_concept_id 
		,SUM(drug_exposure_end_date - drug_exposure_start_date  + 1) AS total_exposure_days
	FROM de.drug_exposure
	WHERE (person_id = 1891866)
	AND drug_exposure_id NOT IN (
	-- 같은 약이며, 복용 시작일이 같지만, 복용 종료일이 다른 경우의 drug_exposure_id 제외 (중복되므로)
		SELECT
			t1.drug_exposure_id 
		FROM (
			SELECT 
				 drug_exposure_id 
				,drug_concept_id 
				,drug_exposure_start_date 
				,drug_exposure_end_date 
				,ROW_NUMBER() OVER (
					PARTITION BY drug_concept_id, drug_exposure_start_date 
					ORDER BY drug_exposure_end_date DESC) AS row_num
			FROM de.drug_exposure de 
			WHERE person_id = 1891866
		) AS t1
		WHERE t1.row_num > 1
	)
	GROUP BY drug_concept_id 
) ed
	ON mmdi.drug_concept_id = ed.drug_concept_id
ORDER BY total_exposure_days

5 rows affected.

[(40213227, datetime.date(1993, 1, 5), datetime.date(1993, 1, 5), 1),
 (40213154, datetime.date(1989, 9, 12), datetime.date(1998, 7, 7), 10),
 (19030765, datetime.date(1988, 10, 18), datetime.date(1998, 10, 5), 1214),
 (1539463, datetime.date(1990, 3, 13), datetime.date(1998, 3, 11), 5484),
 (19009384, datetime.date(1959, 12, 1), datetime.date(1998, 10, 6), 14421)]