In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json

with open("/home/jovyan/work/.credentials.json", "r") as credential:
    credential = json.load(credential)
    url = credential["url"]

In [2]:
# DB 연결
engine = create_engine(url, connect_args={'options': '-csearch_path={}'.format('de')})

df_drug_pair = pd.read_sql_table(
    "drug_pair",
    con=engine
)

In [3]:
%load_ext sql

In [4]:
%sql postgresql://walker105:forcebewithyou@49.50.167.136:5432/synthea_1000

In [5]:
drug_exposure_sql = %sql select distinct drug_concept_id, concept_name, count(*) as cnt from de.drug_exposure de join concept on drug_concept_id = concept_id where concept_id in ( 40213154,19078106,19009384,40224172,19127663,1511248,40169216,1539463, 19126352,1539411,1332419,40163924,19030765,19106768,19075601) group by drug_concept_id, concept_name order by count(*) desc

 * postgresql://walker105:***@49.50.167.136:5432/synthea_1000
15 rows affected.

In [6]:
# sql을 Dataframe으로 변환
df_drug_exposure = drug_exposure_sql.DataFrame()

In [7]:
# drugs df로 산출
df_drugs = df_drug_exposure[["drug_concept_id", "concept_name"]]

# prescription count df로 산출
df_prescription_count = df_drug_exposure[["drug_concept_id", "cnt"]]

In [8]:
# Join을 통해 drug_concept_id1의 처방 건수 가져오기
df_merge1 = pd.merge(df_drug_pair,
               df_prescription_count,
               left_on="drug_concept_id1",
               right_on="drug_concept_id") \
    .rename(columns={"cnt":"cnt1"}) \
    .drop("drug_concept_id",axis=1)

In [9]:
# Join을 통해 drug_concept_id2의 처방 건수 가져오기
df_merge2 = pd.merge(df_merge1,
               df_prescription_count,
               left_on="drug_concept_id2",
               right_on="drug_concept_id") \
    .rename(columns={"cnt":"cnt2"}) \
    .drop("drug_concept_id",axis=1)

In [10]:
# Join을 통해 drug_concept_id1과 2에 해당하는 이름 가져오기
df_merge3 = pd.merge(df_merge2,
               df_drugs,
               left_on="drug_concept_id2",
               right_on="drug_concept_id") \
    .drop("drug_concept_id",axis=1)

In [11]:
# 짝지어진 두번쨰 약의 처방 건수가 첫번쨰 약의 처방 건수보다 더 많은 첫번쨰 약의 약품명 (처방건수 오름차순)
df_merge3 \
    .loc[df_merge3.cnt2 > df_merge3.cnt1] \
    .sort_values("cnt1") \
    [["concept_name"]] \
    .reset_index(drop=True)

                                        concept_name
0          nitroglycerin 0.4 MG/ACTUAT Mucosal Spray
1  Influenza, seasonal, injectable, preservative ...
2  insulin isophane, human 70 UNT/ML / insulin, r...
3              hydrochlorothiazide 25 MG Oral Tablet
4          nitroglycerin 0.4 MG/ACTUAT Mucosal Spray
5          nitroglycerin 0.4 MG/ACTUAT Mucosal Spray
6  NDA020503 200 ACTUAT albuterol 0.09 MG/ACTUAT ...
7  insulin isophane, human 70 UNT/ML / insulin, r...
8  Influenza, seasonal, injectable, preservative ...
9  Influenza, seasonal, injectable, preservative ...