In [1]:
%config SqlMagic.displaycon = False
%load_ext sql
%sql url

In [2]:
%%sql
WITH drug_list AS (
	SELECT 
		DISTINCT drug_concept_id, concept_name, COUNT(*) AS cnt 
	FROM de.drug_exposure de 
	JOIN concept 
		ON drug_concept_id = concept_id 
	WHERE concept_id IN (40213154, 19078106, 19009384, 40224172, 19127663, 
						 1511248, 40169216, 1539463, 19126352, 1539411, 
						 1332419, 40163924, 19030765, 19106768, 19075601) 
	GROUP BY drug_concept_id, concept_name 
)

SELECT 
	dl1.concept_name
FROM de.drug_pair dp
LEFT JOIN drug_list dl1
	ON dp.drug_concept_id1 = dl1.drug_concept_id
LEFT JOIN drug_list dl2
	ON dp.drug_concept_id2 = dl2.drug_concept_id
WHERE dl2.cnt > dl1.cnt
ORDER BY dl1.cnt

10 rows affected.

[('clopidogrel 75 MG Oral Tablet',),
 ('hydrochlorothiazide 12.5 MG Oral Tablet',),
 ('1 ML epoetin alfa 4000 UNT/ML Injection [Epogen]',),
 ('24 HR metformin hydrochloride 500 MG Extended Release Oral Tablet',),
 ('amlodipine 5 MG Oral Tablet',),
 ('simvastatin 20 MG Oral Tablet',),
 ('120 ACTUAT fluticasone propionate 0.044 MG/ACTUAT Metered Dose Inhaler',),
 ('atenolol 50 MG / chlorthalidone 25 MG Oral Tablet [Tenoretic]',),
 ('amlodipine 5 MG / hydrochlorothiazide 12.5 MG / olmesartan medoxomil 20 MG Oral Tablet',),
 ('hydrochlorothiazide 25 MG Oral Tablet',)]